<form class='m-4' action='/value' method='POST'>
   <div class='form-group'>
      <label for='exampleInputEmail1'>NickName</label>
      <input type='texts' name='nickname' class='form-control' id='exampleInputEmail1' />
      <small id='emailHelp' class='form-text text-muted'>We'll never share your NickName with anyone else !!</small>
   </div>
   <div class='form-group'>
      <label for='exampleInputPassword1'>Password</label>
      <input type='password' name='pass' class='form-control' id='exampleInputPassword1' placeholder='Password' />
   </div>
   <select name='gender' class='form-control' id='section-input'>
      <option value=''>--Gender--</option>
      <option value='male'>Nam</option>
      <option value='female'>Nữ</option>
   </select>
   <button type='submit' class='btn mt-4 btn-primary'>Submit</button>
</form>